<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ffaikrw.space.library.dao.LibraryDAO">

	<insert id="insertLibrary" parameterType="map">
	
		insert into `library`
		(
			`userId`
			, `isbn`
			, `readDate`
			, `createdAt`
		)
		value
		(
			#{userId}
			, #{isbn}
			, now()
			, now()
		)
	
	</insert>
	
	
	<delete id="deleteLibrary" parameterType="map">
	
		delete from `library`
		where
			`userId` = #{userId}
			and `isbn` = #{isbn}
	
	</delete>
	
	
	<select id="selectLibrary" parameterType="int" resultType="com.ffaikrw.space.library.model.Library">
	
		select
			`id`
			, `userId`
			, `isbn`
			, `readDate`
			, `createdAt`
		from
			`library`
		where
			`userId` = #{userId}
		order by
			`id` desc
	
	</select>
	
	
	<update id="updateReadDate" parameterType="map">
		
		update `library`
		set
			`readDate` = #{readDate}
		where
			`userId` = #{userId}
			and `isbn` = #{isbn}
		
	</update>

</mapper>