<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ffaikrw.space.note.dao.NoteDAO">

	<insert id="insertNote" parameterType="map">
	
		insert into `note`
		(
			`userId`
			, `isbn`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		value
		(
			#{userId}
			, #{isbn}
			, #{content}
			, now()
			, now()
		)
	
	</insert>
	
	
	<delete id="deleteNote" parameterType="map">
	
		delete from `note`
		where
			`userId` = #{userId}
			and `isbn` = #{isbn}
	
	</delete>
	
	
	<update id="updateNote" parameterType="map">
	
		update `note`
		set
			`content` = #{content}
			, `updatedAt` = now()
		where
			`userId` = #{userId}
			and `isbn` = #{isbn}
	
	</update>
	
	
	<select id="selectNote" parameterType="map" resultType="com.ffaikrw.space.note.model.Note">
	
		select
			`id`
			, `userId`
			, `isbn`
			, `content`
			, `createdAt`
			, `updatedAt`
		from
			`note`
		where
			`userId` = #{userId}
			and `isbn` = #{isbn}
		
	</select>
	
	
	<select id="selectNoteCount" parameterType="map" resultType="int">
	
		select
			count(*)
		from
			`note`
		where
			`userId` = #{userId}
			and `isbn` = #{isbn}
	
	</select>
	
	
	<select id="selectNoteByUserId" parameterType="int" resultType="com.ffaikrw.space.note.model.Note">
	
		select
			`id`
			, `userId`
			, `isbn`
			, `content`
			, `createdAt`
			, `updatedAt`
		from
			`note`
		where
			`userId` = #{userId}
		order by
			`id` desc
	
	</select>
	
	
	<select id="selectNoteCountByUserId" parameterType="int" resultType="int">
		
		select
			count(*)
		from
			`note`
		where
			`userId` = #{userId}
	
	</select>
	
	
	<delete id="deleteAllNote" parameterType="int">
		
		delete from `note`
		where
			`userId` = #{userId}
	
	</delete>

</mapper>