<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ffaikrw.space.library.recommend.dao.RecommendDAO">

	<insert id="insertRecommend" parameterType="map">
	
		insert into `recommend`
		(
			`userId`
			, `isbn`
			, `createdAt`
		)
		value
		(
			#{userId}
			, #{isbn}
			, now()
		)
	
	</insert>
	
	
	<delete id="deleteRecommend" parameterType="map">
		
		delete from `recommend`
		where
			userId = #{userId}
			and isbn = #{isbn}
		
	</delete>
	
	
	<select id="selectRecommendCount" parameterType="map" resultType="int">
	
		select
			count(*)
		from
			`recommend`
		where
			userId = #{userId}
			and isbn = #{isbn}
	
	</select>
	
	
	<select id="selectRecommendCountByIsbn" parameterType="String" resultType="int">
		
		select
			count(*)
		from
			`recommend`
		where
			isbn = #{isbn}
		
	</select>
	
	
	<select id="selectRecommendTop10" resultType="com.ffaikrw.space.library.recommend.model.Recommend">
	
		select
			`id`
			, `userId`
			, `isbn`
			, `createdAt`
			, count(*)
		from
			`recommend`
		group by
			`isbn`
		order by
			count(*) desc
		limit 10;
	
	</select>


</mapper>