@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
	background-color: #000;
}


/* startPage.jsp */

#wrap-start {
	width: 1200px;
	height: 600px;
	margin: auto;
	background-color: #000;
}

.background-wrap {
	width: 1200px;
	height: 600px;
	position: relative;
}

.background-wrap::before {
	content: "";
	background-image: url("/static/images/books_image.jpg");
	background-size: cover;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
}

.start-content {
	position: relative;
}

header {
	height: 100px;
}

.header-logo {
	color: #6b4bde;
	font-size: 42px;
	font-weight: 600;
	text-decoration:line-through;
	letter-spacing: 3px;
	padding-top: 10px;
	padding-left: 30px;
}

.header-logo:hover {
	text-decoration: line-through;
	color: #6b4bde;
}

.header-btn {
	padding-top: 40px;
	padding-right: 30px;
}

.start-section {
	height: 400px;
}

.start-text1 {
	font-size: 31px;
	font-weight: bold;
	padding-left: 50px;
}

.start-text2 {
	color: #999;
	font-size: 20px;
	padding-top: 15px;
}

.signin-btn {
	border-radius: 30px;
	border-color: #6b4bde;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	margin-right: 10px;
}

.signup-btn {
	border-radius: 30px;
	border: 0;
	background-color: #6b4bde;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	box-shadow: 0;
}

footer {
	height: 100px;
	color: #777;
	font-size: 15px;
}


/* signUp.jsp */

.signBox-background {
	position: relative;
	width: 600px;
}

.signBox-background img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	margin: auto;
}

.signBox-content {
	width: 600px;
}

.sign-box {
	width: 400px;
}

.signBox-logo {
	color: #6b4bde;
	font-size: 42px;
	font-weight: 600;
	text-decoration:line-through;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.signBox-text1 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-left: 20px;
}

.signBox-text2 {
	color: #999;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 20px;
}

.sign-input {
	width: 350px;
	height: 40px;
	border: 2px solid;
	border-radius: 5px;
	border-color: #6b4bde;
	background-color: #333;
	color: #fff;
	font-weight: 600;
	padding-left: 10px;
	margin-left: 20px;
}

.sign-input::placeholder {
	color: #999;
}

.validation-text {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 20px;
}

.validation-icon {
	font-size: 25px;
}

.sign-btn {
	width: 350px;
	height: 40px;
	border: 0;
	border-radius: 5px;
	background-color: #6b4bde;
	color: #fff;
	margin-left: 20px;
}

.sign-link-box {
	width: 350px;
	height: 40px;
	margin-left: 20px;
}

.sign-link {
	color: #fff;
}

.sign-link:hover {
	color: #fff;
	text-decoration: none;
}


/* home.jsp */
.content {
	width: 1000px;
}

.sidebar {
	width: 200px;
	height: 600px;
	position: sticky;
	top: 0;
	background-color: #1d1c21;
}

.nav-link {
	color: #fff;
}

.nav-icon {
	font-size: 20px;
	color: #6b4bde;
	margin-right: 5px;
}

.nav-link:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
}

.content-header {
	width: 1000px;
	height: 70px;
	background-color: #000;
	top: 0;
	padding-left: 30px;
	padding-right: 30px;
	position: sticky;
}

.page-name {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}

.profile-link-icon {
	color: #6b4bde;
	font-size: 40px;
}

.profile-link-icon:hover {
	color: #6b4bde;
	text-decoration: none;
}

.content-section {
	padding-left: 30px;
	padding-right: 30px;
}

.modal-content {
	background-color: #111;
	border: 1px solid #6b4bde;
}

.modal-text {
	height: 46px;
	font-size: 24px;
	font-weight: bold;
	color: #6b4bde;
	border-bottom: 1px solid #6b4bde;
	margin-top: 10px;
	
}

.modal-link {
	color: #fff;
	font-weight: bold;
}

.modal-link:hover {
	color: #fff;
}

.top-box {
	width: 313px;
}

.home-subtitle {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}

.home-subtitle:hover {
	color: #fff;
	text-decoration: none;
}

.top-content {
	width: 300px;
	height: 200px;
	margin-top: 10px;
}

.top10-box {
	width: 150px;
	margin-top: 15px;
}

.top10-bookImg {
	width: 120px;
	height: 150px;
	margin-left: 10px;
}

.top10-bookTitle {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.wish-bookImg {
	width: 130px;
	height: 160px;
}

.author-box {
	width: 150px;
	height: 150px;
	border: 1px solid #6b4bde;
	background-color: #111;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 13px;
	margin-right: 13px;
}

.author-name {
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.arrow-icon {
	font-size: 40px;
	color: #6b4bde;
}

.media-content {
	width: 390px;
	height: 220px;
	margin-right: 40px;
}

.media-image {
	width: 120px;
	height: 160px;
}

.media-description {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.media-title {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

.more-text {
	color: #6b4bde;
	font-size: 18px;
}

.more-text:hover {
	color: #6b4bde;
}

.top10-slide-wrapper {
	position: relative;
	width: 800px;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
}

.top10-slides {
	position: absolute;
	left: 0;
	top: 0;
	transition: left 0.5s ease-out;
}

.top10-slides .top10-box:not(:last-child) {
	float: left;
	margin-right: 30px;
}

.author-slide-wrapper {
	position: relative;
	width: 800px;
	height: 180px;
	margin: 0 auto;
	overflow: hidden;
}

.author-slides {
	position: absolute;
	left: 0;
	top: 0;
	transition: left 0.5s ease-out;
}

.author-slides .author-box:not(:last-child) {
	float: left;
	margin-right: 15px;
}


.book-box {
	width: 150px;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.book-img-box {
	width: 150px;
}

.thumbnail-box {
	width: 150px;
	height: 170px;
	background-color: #6b4bde;
}

.thumbnail-link:hover {
	text-decoration: none;
}

.title-link {
	color: #fff;
}

.title-link:hover {
	color: #fff;
	text-decoration: none;
}

.thumbnail-icon {
	font-size: 30px;
}

.book-title {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 150px;
	margin-top: 15px;
}

.book-author {
	color: #999;
	font-size: 12px;
	margin-top: 5px;
}

.book-author:hover {
	color: #999;
}

.recommend-icon {
	color: #6b4bde;
	font-size: 12px;
}

.book-recommend {
	color: #6b4bde;
	font-size: 12px;
	margin-top: 5px;
}


/* weeklyNew.jsp */

.in-library {
	color: #6b4bde;
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}

.add-wishlist {
	color: #6b4bde;
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}

.add-wishlist:hover {
	color: #6b4bde;
	text-decoration: none;
}

.delete-wishlist {
	color: #6b4bde;
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}

.delete-wishlist:hover {
	color: #6b4bde;
	text-decoration: none;
}

.weeklyNew-box {
	width: 800px;
	margin-top: 40px;
	margin-left: 10px;
}

.weeklyNew-title {
	color: #fff;
	font-size: 25px;
}

.weeklyNew-title:hover {
	color: #fff;
	text-decoration: none;
}

.weeklyNew-author {
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}

.weeklyNew-author:hover {
	color: #fff;
}

.weeklyNew-description {
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
}

.weeklyNew-img-box {
	width: 150px;
	margin-right: 15px;
}

.weeklyNew-thumbnail-box {
	width: 150px;
	height: 220px;
	background-color: #6b4bde;
}


/* bookInfo.jsp */

.bookInfo-box {
	width: 900px;
	margin-top: 40px;
}

.book-bg {
	width: 230px;
	border: 1px solid #6b4bde;
	background-color: #1d1c21;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.bookInfo-img {
	width: 200px;
	height: 250px;
	background-color: #6b4bde;
}

.bookInfo-subject {
	color: #888;
	font-size: 14px;
}

.bookInfo-title {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
}

.bookInfo-author {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.bookInfo-author:hover {
	color: #fff;
}

.bookInfo-category {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.bookInfo-wish {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

.bookInfo-wish:hover {
	color: #fff;
	text-decoration: none;
}

.bookInfo-wish-icon {
	color: #6b4bde;
	font-size: 22px;
}

.bookInfo-library {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.bookInfo-library:hover {
	color: #fff;
	text-decoration: none;
}

.bookInfo-library-icon {
	color: #6b4bde;
	font-size: 24px;
}

.bookInfo-in-library {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.bookInfo-in-library-icon {
	color: #6b4bde;
	font-size: 24px;
}

.bookInfo-subtitle {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin-top: 45px;
}

.comment-box {
	width: 460px;
	height: 250px;
	border: 1px solid #6b4bde;
	background-color: #1d1c21;
}

.write-comment-box {
	margin-top: 10px;
}

#commentInput {
	width: 390px;
	height: 40px;
	border: 2px solid;
	border-radius: 5px;
	border-color: #6b4bde;
	background-color: #1d1c21;
	color: #fff;
	font-weight: 600;
	padding-left: 10px;
}

#commentBtn {
	border-radius: 5px;
	background-color: #6b4bde;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 65px;
	height: 40px;
}

.bookInfo-description {
	width: 800px;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
}


/* search.jsp */

.search-input {
	width: 400px;
	height: 30px;
	border: 1px solid;
	border-radius: 3px;
	border-color: #6b4bde;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	padding-left: 10px;
	margin-left: 30px;
}

.search-input::placeholder {
	color: #777;
	font-weight: 500;
}

.search-btn {
	color: #6b4bde;
	border: 0;
	background-color: #000;
	font-size: 20px;
	margin-left: 1px;
}

.outstanding {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 40px;
}

.outstanding-box {
	width: 900px;
	margin-top: 30px;
	margin-left: 15px;
}

.outstanding-book {
	width: 90px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.outstanding-thumbnail {
	width: 85px;
	height: 100px;
	background-color: #6b4bde;
}

.outstanding-title {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
}

.outstanding-title:hover {
	color: #fff;
	text-decoration: none;
}

.outstanding-author {
	color: #999;
	font-size: 10px;
}

.outstanding-author:hover {
	color: #999;
}

.total-results {
	width: 900px;
	color: #6b4bde;
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 10px;
	
}

.page-button {
	width: 23px;
	height: 23px;
	background-color: #000;
	border: 1px solid #6b4bde;
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
}

.page-number {
	color: #fff;
	font-size: 14px;
}

.page-number:hover {
	color: #fff;
}

.search-result-none {
	width: 900px;
	height: 430px;
	color: #999;
	font-size: 36px;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 30px;
}

.bestseller-rank {
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 5px;
}

.wishlist-delete-icon {
	color: #6b4bde;
}

.wishlist-delete-icon:hover {
	color: #6b4bde;
	text-decoration: none;
}

.move-to-library {
	color: #6b4bde;
}

.move-to-library:hover {
	color: #6b4bde;
	text-decoration: none;
}


/* library.jsp */

.library-box {
	width: 450px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.library-bookinfo-box {
	width: 260px;
}

.library-delete-icon {
	color: #6b4bde;
}

.library-delete-icon:hover {
	color: #6b4bde;
	text-decoration: none;
}

.library-subject {
	color: #999;
	font-size: 10px;
	margin-top: 8px;
}

.library-title {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.library-title:hover {
	color: #fff;
	text-decoration: none;
}

.library-author {
	color: #fff;
	font-size: 14px;
}

.library-author:hover {
	color: #fff;
}

.library-readDate {
	color: #fff;
	font-size: 14px;
}

.add-recommend {
	color: #6b4bde;
	font-size: 12px;
}

.add-recommend:hover {
	color: #6b4bde;
}

.delete-recommend {
	color: #6b4bde;
	font-size: 12px;
}

.delete-recommend:hover {
	color: #6b4bde;
	text-decoration: none;
}

.go-to-bookReport {
	color: #6b4bde;
	font-size: 12px;
}

.go-to-bookReport:hover {
	color: #6b4bde;
}

.library-isEmpty-box {
	width: 900px;
	height: 400px;
}

.library-isEmpty-icon {
	width: 900px;
	color: #716f75;
	font-size: 80px;
}

.library-isEmpty {
	width: 900px;
	color: #716f75;
	font-weight: bold;
	font-size: 30px;
}

.edit-readDate-icon {
	color: #fff;
	font-size: 12px;
}

.library-readDate-input {
	width: 130px;
	border: none;
	background-color: #000;
	color: #fff;
	font-size: 14px;
}

.library-readDate-input::placeholder {
	color: #999;
	font-size: 10px;
}

.edit-readDate-input {
	width: 115px;
	border: none;
	background-color: #000;
	color: #fff;
	font-size: 14px;
}

.edit-readDate-input::placeholder {
	color: #fff;
	font-size: 14px;
}

.edit-readDate-btn {
	color: #fff;
	font-size: 10px;
	border: 1px solid #6b4bde;
	border-radius: 10px;
	background-color: #000;
}


.go-to-notelist {
	width: 200px;
	height: 40px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #6b4bde;
	border-radius: 10px;
	margin-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* createNote.jsp */

.readingNote-box {
	width: 900px;
	border: 1px solid #6b4bde;
	background-color: #1d1c21;
}

.create-btn-box {
	width: 900px;
	margin-top: 20px;
}

.create-note-btn {
	width: 100px;
	height: 40px;
	color: #fff;
	border: 1px solid #6b4bde;
	border-radius: 10px;
	background-color: #000;
}

.editor-box {
	width: 800px;
	background-color: #fff;
	border: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

.note-box {
	width: 900px;
	border: 1px solid #6b4bde;
	background-color: #1d1c21;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.note-content {
	color: #fff;
	white-space: pre-wrap;
}

.write-note-icon {
	font-size: 11px;
}

.see-note-icon {
	font-size: 18px;
}

#editNote {
	color: #6b4bde;
	font-size: 20px;
}

#editNote:hover {
	text-decoration: none;
}

#deleteNote {
	color: #6b4bde;
	font-size: 20px;
}

#deleteNote:hover {
	text-decoration: none;
}

.edit-content {
	white-space: pre-wrap;
}

.create-date {
	color: #6b4bde;
	font-size: 12px;
	padding-top: 5px;
}

.hr-tag {
	width: 200px;
	background-color: #999;
	margin-top: 60px;
}

.notelist-table {
	width: 900px;
	background-color: #1d1c21;
	margin-top: 30px;
	padding-left: 10px;
	
}

.notelist-table th {
	border: 2px solid #6b4bde;
	border-left: none;
	border-right: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.notelist-table td {
	border: 1px solid #6b4bde;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.notelist-cover {
	width: 130px;
}

.notelist-title {
	width: 300px;
}

.notelist-content {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.notelist-bookinfo-link {
	color: #fff;
}

.notelist-bookinfo-link:hover {
	color: #fff;
}

.notelist-noteView-link {
	color: #fff;
}

.notelist-noteView-link:hover {
	color: #fff;
}



/* user/profile.jsp */

.profile-update-btn {
	border-radius: 30px;
	border: 0;
	background-color: #6b4bde;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	box-shadow: 0;
}

.profile-image-box {
	width: 400px;
	height: 400px;
}

.profile-nickname-box {
	width: 400px;
	height: 400px;
}

.user-icon-radius {
	width: 300px;
	height: 300px;
	background-color: #222;
	border: 1px solid #6b4bde;
	border-radius: 50%;
}

.user-icon {
	color: #fff;
	font-size: 200px;
	margin-left: 47px;
}

.edit-profile-image {
	padding-top: 20px;
	margin-left: 90px;
}

#editImage {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

#editImage:hover {
	color: #fff;
	text-decoration: none;
}

.nickname-edit-label {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.nickname-edit-input {
	width: 350px;
	height: 40px;
	border: 2px solid;
	border-radius: 5px;
	border-color: #6b4bde;
	background-color: #222;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
}

.nickname-edit-input::placeholder {
	color: #fff;
}

