@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
	background-color: #000;
}


/* startPage.jsp */

#wrap-start {
	width: 1200px;
	height: 600px;
	margin: auto;
	background-color: #000;
}

.background-wrap {
	width: 1200px;
	height: 600px;
	position: relative;
}

.background-wrap::before {
	content: "";
	background-image: url("/static/images/books_image.jpg");
	background-size: cover;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
}

.start-content {
	position: relative;
}

header {
	height: 100px;
}

.header-logo {
	color: #6b4bde;
	font-size: 42px;
	font-weight: 600;
	text-decoration:line-through;
	letter-spacing: 3px;
	padding-top: 10px;
	padding-left: 30px;
}

.header-logo:hover {
	text-decoration: line-through;
	color: #6b4bde;
}

.header-btn {
	padding-top: 40px;
	padding-right: 30px;
}

.start-section {
	height: 400px;
}

.start-text1 {
	font-size: 31px;
	font-weight: bold;
	padding-left: 50px;
}

.start-text2 {
	color: #999;
	font-size: 20px;
	padding-top: 15px;
}

.signin-btn {
	border-radius: 30px;
	border-color: #6b4bde;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	margin-right: 10px;
}

.signup-btn {
	border-radius: 30px;
	border: 0;
	background-color: #6b4bde;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	box-shadow: 0;
}

footer {
	height: 100px;
	color: #777;
	font-size: 15px;
}


/* signUp.jsp */

.signBox-background {
	position: relative;
	width: 600px;
}

.signBox-background img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	margin: auto;
}

.signBox-content {
	width: 600px;
}

.sign-box {
	width: 400px;
}

.signBox-logo {
	color: #6b4bde;
	font-size: 42px;
	font-weight: 600;
	text-decoration:line-through;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.signBox-text1 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-left: 20px;
}

.signBox-text2 {
	color: #999;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 20px;
}

.sign-input {
	width: 350px;
	height: 40px;
	border: 2px solid;
	border-radius: 5px;
	border-color: #6b4bde;
	background-color: #333;
	color: #fff;
	font-weight: 600;
	padding-left: 10px;
	margin-left: 20px;
}

.sign-input::placeholder {
	color: #999;
}

.validation-text {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 20px;
}

.validation-icon {
	font-size: 25px;
}

.sign-btn {
	width: 350px;
	height: 40px;
	border: 0;
	border-radius: 5px;
	background-color: #6b4bde;
	color: #fff;
	margin-left: 20px;
}

.sign-link-box {
	width: 350px;
	height: 40px;
	margin-left: 20px;
}

.sign-link {
	color: #fff;
}

.sign-link:hover {
	color: #fff;
	text-decoration: none;
}


/* home.jsp */
.content {
	width: 1000px;
}

.sidebar {
	width: 200px;
	height: 600px;
	position: sticky;
	top: 0;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #6b4bde;
}

.nav-link {
	color: #fff;
}

.nav-icon {
	font-size: 20px;
	color: #6b4bde;
	margin-right: 5px;
}

.nav-link:hover {
	color: #fff;
	background-color: #38324d;
	text-decoration: none;
}

.content-header {
	width: 1000px;
	height: 70px;
	background-color: #000;
	top: 0;
	padding-left: 30px;
	padding-right: 30px;
	position: sticky;
}

.page-name {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}

.profile-link-icon {
	color: #6b4bde;
	font-size: 40px;
}

.profile-link-icon:hover {
	color: #6b4bde;
	text-decoration: none;
}

.content-section {
	padding-left: 30px;
	padding-right: 30px;
}

.modal-content {
	background-color: #111;
	border: 1px solid #6b4bde;
}

.modal-text {
	height: 46px;
	font-size: 24px;
	font-weight: bold;
	color: #6b4bde;
	border-bottom: 1px solid #6b4bde;
	margin-top: 10px;
	
}

.modal-link {
	color: #fff;
	font-weight: bold;
}

.modal-link:hover {
	color: #fff;
}

.top-box {
	width: 313px;
}

.home-subtitle {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}

.home-subtitle:hover {
	color: #fff;
	text-decoration: none;
}

.top-content {
	width: 300px;
	height: 200px;
	margin-top: 10px;
}

.top10-box {
	width: 150px;
	margin-top: 15px;
}

.top10-bookImg {
	width: 120px;
	height: 150px;
	margin-left: 10px;
}

.top10-bookTitle {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.wish-bookImg {
	width: 130px;
	height: 160px;
}

.author-box {
	width: 150px;
	height: 150px;
	border: 1px solid #6b4bde;
	background-color: #111;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 13px;
	margin-right: 13px;
}

.author-name {
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.arrow-icon {
	font-size: 40px;
	color: #6b4bde;
}

.media-content {
	width: 390px;
	height: 220px;
	margin-right: 40px;
}

.media-image {
	width: 120px;
	height: 160px;
}

.media-description {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.media-title {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

.more-text {
	color: #6b4bde;
	font-size: 18px;
}

.more-text:hover {
	color: #6b4bde;
}

.top10-slide-wrapper {
	position: relative;
	width: 800px;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
}

.top10-slides {
	position: absolute;
	left: 0;
	top: 0;
	transition: left 0.5s ease-out;
}

.top10-slides .top10-box:not(:last-child) {
	float: left;
	margin-right: 30px;
}

.author-slide-wrapper {
	position: relative;
	width: 800px;
	height: 180px;
	margin: 0 auto;
	overflow: hidden;
}

.author-slides {
	position: absolute;
	left: 0;
	top: 0;
	transition: left 0.5s ease-out;
}

.author-slides .author-box:not(:last-child) {
	float: left;
	margin-right: 15px;
}


.book-box {
	width: 130px;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.book-img-box {
	width: 150px;
}

.thumbnail-box {
	width: 130px;
	height: 170px;
	background-color: #6b4bde;
	opacity: 80%;
}

.thumbnail-icon {
	font-size: 30px;
}

.book-title {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 130px;
	margin-top: 10px;
}

.book-author {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.recommend-icon {
	color: #6b4bde;
	font-size: 12px;
}

.book-recommend {
	color: #6b4bde;
	font-size: 12px;
	margin-top: 6px;
}



