@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
	background-color: #000;
}


/* startPage.jsp */

#wrap-start {
	width: 1200px;
	height: 600px;
	margin: auto;
	background-color: #000;
}

.background-wrap {
	width: 1200px;
	height: 600px;
	position: relative;
}

.background-wrap::before {
	content: "";
	background-image: url("/static/images/books_image.jpg");
	background-size: cover;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
}

.start-content {
	position: relative;
}

header {
	height: 100px;
}

.header-logo {
	color: #6b4bde;
	font-size: 42px;
	font-weight: 600;
	text-decoration:line-through;
	letter-spacing: 3px;
	padding-top: 10px;
	padding-left: 30px;
}

.header-btn {
	padding-top: 40px;
	padding-right: 30px;
}

.start-section {
	height: 400px;
}

.start-text1 {
	font-size: 31px;
	font-weight: bold;
	padding-left: 50px;
}

.start-text2 {
	color: #999;
	font-size: 20px;
	padding-top: 15px;
}

.signin-btn {
	border-radius: 30px;
	border-color: #6b4bde;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	margin-right: 10px;
}

.signup-btn {
	border-radius: 30px;
	border: 0;
	background-color: #6b4bde;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	box-shadow: 0;
}

footer {
	height: 100px;
	color: #777;
	font-size: 15px;
}


/* signUp.jsp */

.signBox-background {
	position: relative;
	width: 600px;
}

.signBox-background img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	margin: auto;
}

.signBox-content {
	width: 600px;
}

.sign-box {
	width: 400px;
}

.signBox-logo {
	color: #6b4bde;
	font-size: 42px;
	font-weight: 600;
	text-decoration:line-through;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.signBox-text1 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-left: 20px;
}

.signBox-text2 {
	color: #999;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 20px;
}

.sign-input {
	width: 350px;
	height: 40px;
	border: 2px solid;
	border-radius: 5px;
	border-color: #6b4bde;
	background-color: #333;
	color: #fff;
	font-weight: 600;
	padding-left: 10px;
	margin-left: 20px;
}

.sign-input::placeholder {
	color: #999;
}

.validation-text {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 20px;
}

.validation-icon {
	font-size: 25px;
}

.sign-btn {
	width: 350px;
	height: 40px;
	border: 0;
	border-radius: 5px;
	background-color: #6b4bde;
	color: #fff;
	margin-left: 20px;
}

.sign-link-box {
	width: 350px;
	height: 40px;
	margin-left: 20px;
}

.sign-link {
	color: #fff;
}

.sign-link:hover {
	color: #fff;
	text-decoration: none;
}




